# Python bytecode and virtualenvs
__pycache__/
*.py[cod]
*.egg-info/
*.egg
env/
venv/

# Serverless
.serverless/
.webpack/

# Environment
.env

# Installed packages (like pymongo/, dns/, etc.)
pymongo/
bson/
dns/
gridfs/
dnspython-2.7.0.dist-info/
pymongo-4.13.2.dist-info/

# Logs and OS files
*.log
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
